openapi: 3.0.0
info:
  title: Agent Platform API
  description: Build, scale, govern, and optimize sophisticated agents and models.
  version: v1
  contact:
    name: Google
    url: https://google.com
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  x-origin:
  - converter:
      url: https://github.com/APIs-guru/google-discovery-to-swagger
      version: 1.0.5
    format: google
    url: https://aiplatform.googleapis.com/$discovery/rest?version=v1
    version: v1
  - converter:
      url: https://github.com/mermade/oas-kit
      version: 7.0.8
    format: swagger
    version: '2.0'
  x-providerName: googleapis.com
  x-serviceName: aiplatform
servers:
- url: https://aiplatform.googleapis.com
paths:
  /v1/{name}:
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: aiplatform.deploymentResourcePools.operations.delete
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
      - name: name
        in: path
        description: The name of the operation resource to be deleted.
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: Optional. If set to true, child resources of this reasoning engine will also be deleted. Otherwise, the request will fail with FAILED_PRECONDITION error when the reasoning engine has undeleted child resources.
        schema:
          type: boolean
      - name: force
        in: query
        description: The force deletion semantics is still undefined. Users should not use this field.
        schema:
          type: boolean
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - deploymentResourcePools
    patch:
      description: Updates an Endpoint.
      operationId: aiplatform.projects.locations.endpoints.patch
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1Endpoint'
      parameters:
      - name: name
        in: path
        description: Identifier. The resource name of the Endpoint.
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        description: Required. The update mask applies to the resource. See google.protobuf.FieldMask.
        schema:
          type: string
      - name: updateMask
        in: query
        description: Optional. A FieldMask indicating which fields should be updated.
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1Endpoint'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: aiplatform.deploymentResourcePools.operations.get
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: The name of the operation resource.
        required: true
        schema:
          type: string
      - name: readMask
        in: query
        description: Mask specifying which fields to read.
        schema:
          type: string
          enum:
          - NOTEBOOK_EXECUTION_JOB_VIEW_UNSPECIFIED
          - NOTEBOOK_EXECUTION_JOB_VIEW_BASIC
          - NOTEBOOK_EXECUTION_JOB_VIEW_FULL
      - name: isHuggingFaceModel
        in: query
        description: Optional. Boolean indicates whether the requested model is a Hugging Face model.
        schema:
          type: boolean
      - name: languageCode
        in: query
        description: Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in.
        schema:
          type: string
      - name: view
        in: query
        description: Optional. PublisherModel view specifying which fields to read.
        schema:
          type: string
          enum:
          - PUBLISHER_MODEL_VIEW_UNSPECIFIED
          - PUBLISHER_MODEL_VIEW_BASIC
          - PUBLISHER_MODEL_VIEW_FULL
          - PUBLISHER_MODEL_VERSION_VIEW_BASIC
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - deploymentResourcePools
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/datasets:
    post:
      description: Creates a Dataset.
      operationId: aiplatform.datasets.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: query
        description: 'Required. The resource name of the Location to create the Dataset in. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1Dataset'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - datasets
    get:
      description: Lists Datasets in a Location.
      operationId: aiplatform.datasets.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListDatasetsResponse'
      parameters:
      - name: filter
        in: query
        description: 'An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `display_name`: supports = and != * `metadata_schema_uri`: supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels."a key"`. Some examples: * `displayName="myDisplayName"` * `labels.myKey="myValue"`'
        schema:
          type: string
      - name: orderBy
        in: query
        description: 'A comma-separated list of fields to order by, sorted in ascending order. Use "desc" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time`'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: The standard list page token.
        schema:
          type: string
      - name: parent
        in: query
        description: 'Required. The name of the Dataset''s parent resource. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      - name: readMask
        in: query
        description: Mask specifying which fields to read.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - datasets
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:cancel:
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.
      operationId: aiplatform.deploymentResourcePools.operations.cancel
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
      parameters:
      - name: name
        in: path
        description: The name of the operation resource to be cancelled.
        required: true
        schema:
          $ref: '#/components/schemas/GoogleCloudAiplatformV1CancelHyperparameterTuningJobRequest'
          type: string
      - name: name
        in: path
        description: 'Required. The name of the HyperparameterTuningJob to cancel. Format: `projects/{project}/locations/{location}/hyperparameterTuningJobs/{hyperparameter_tuning_job}`'
        required: true
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - deploymentResourcePools
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}/operations:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: aiplatform.deploymentResourcePools.operations.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
      parameters:
      - name: name
        in: path
        description: The name of the operation's parent resource.
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The standard list filter.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: The standard list page token.
        schema:
          type: string
      - name: returnPartialSuccess
        in: query
        description: When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `"projects/example/locations/-"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.
        schema:
          type: boolean
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - deploymentResourcePools
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:wait:
    post:
      description: Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.
      operationId: aiplatform.deploymentResourcePools.operations.wait
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: The name of the operation resource to wait on.
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - deploymentResourcePools
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: aiplatform.featureGroups.operations.listWait
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
      parameters:
      - name: name
        in: path
        description: The name of the operation's parent resource.
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The standard list filter.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: The standard list page token.
        schema:
          type: string
      - name: returnPartialSuccess
        in: query
        description: When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `"projects/example/locations/-"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.
        schema:
          type: boolean
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - featureGroups
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:restore:
    get:
      description: Restores a dataset version.
      operationId: aiplatform.projects.locations.datasets.datasetVersions.restore
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: 'Required. The name of the DatasetVersion resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`'
        required: true
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}/datasetVersions:
    post:
      description: Create a version from a Dataset.
      operationId: aiplatform.projects.locations.datasets.datasetVersions.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: path
        description: 'Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1DatasetVersion'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Lists DatasetVersions in a Dataset.
      operationId: aiplatform.projects.locations.datasets.datasetVersions.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListDatasetVersionsResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Dataset to list DatasetVersions from. Format: `projects/{project}/locations/{location}/datasets/{dataset}`'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional. The standard list filter.
        schema:
          type: string
      - name: orderBy
        in: query
        description: Optional. A comma-separated list of fields to order by, sorted in ascending order. Use "desc" after a field name for descending.
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional. The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Optional. The standard list page token.
        schema:
          type: string
      - name: readMask
        in: query
        description: Optional. Mask specifying which fields to read.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{endpoint}:countTokens:
    post:
      description: Perform a token counting.
      operationId: aiplatform.endpoints.countTokens
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensResponse'
      parameters:
      - name: endpoint
        in: path
        description: 'Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{endpoint}:predictLongRunning:
    post:
      description: ''
      operationId: aiplatform.endpoints.predictLongRunning
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: endpoint
        in: path
        description: 'Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1PredictLongRunningRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{model}:generateContent:
    post:
      description: Generate content with multimodal inputs.
      operationId: aiplatform.endpoints.generateContent
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
      parameters:
      - name: model
        in: path
        description: 'Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`'
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1GenerateContentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{endpoint}:computeTokens:
    post:
      description: Return a list of tokens based on the input text.
      operationId: aiplatform.endpoints.computeTokens
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensResponse'
      parameters:
      - name: endpoint
        in: path
        description: Required. The name of the Endpoint requested to get lists of tokens and token ids.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{endpoint}:predict:
    post:
      description: ''
      operationId: aiplatform.endpoints.predict
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1PredictResponse'
      parameters:
      - name: endpoint
        in: path
        description: 'Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1PredictRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{model}:streamGenerateContent:
    post:
      description: Generate content with multimodal inputs with streaming support.
      operationId: aiplatform.endpoints.streamGenerateContent
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
      parameters:
      - name: model
        in: path
        description: 'Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`'
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1GenerateContentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{endpoint}:fetchPredictOperation:
    post:
      description: Fetch an asynchronous online prediction operation.
      operationId: aiplatform.endpoints.fetchPredictOperation
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: endpoint
        in: path
        description: 'Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1FetchPredictOperationRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - endpoints
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/batchPredictionJobs:
    post:
      description: Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start.
      operationId: aiplatform.batchPredictionJobs.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1BatchPredictionJob'
      parameters:
      - name: parent
        in: query
        description: 'Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1BatchPredictionJob'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - batchPredictionJobs
    get:
      description: Lists BatchPredictionJobs in a Location.
      operationId: aiplatform.batchPredictionJobs.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListBatchPredictionJobsResponse'
      parameters:
      - name: filter
        in: query
        description: 'The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`<`, `<=`,`>`, `>=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state="JOB_STATE_SUCCEEDED" AND display_name:"my_job_*"` * `state!="JOB_STATE_FAILED" OR display_name="my_job"` * `NOT display_name="my_job"` * `create_time>"2021-05-18T00:00:00Z"` * `labels.keyA=valueA` * `labels.keyB:*`'
        schema:
          type: string
      - name: pageSize
        in: query
        description: The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call.
        schema:
          type: string
      - name: parent
        in: query
        description: 'Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      - name: readMask
        in: query
        description: Mask specifying which fields to read.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - batchPredictionJobs
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1:generateInstanceRubrics:
    post:
      description: Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.
      operationId: aiplatform.generateInstanceRubrics
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateInstanceRubricsResponse'
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1GenerateInstanceRubricsRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - v1
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1:evaluateInstances:
    post:
      description: Evaluates instances based on a given metric.
      operationId: aiplatform.evaluateInstances
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1EvaluateInstancesResponse'
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1EvaluateInstancesRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - v1
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1:evaluateDataset:
    post:
      description: Evaluates a dataset based on a set of given metrics.
      operationId: aiplatform.evaluateDataset
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1EvaluateDatasetRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - v1
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/reasoningEngines:
    get:
      description: Lists reasoning engines in a location.
      operationId: aiplatform.reasoningEngines.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListReasoningEnginesResponse'
      parameters:
      - name: filter
        in: query
        description: Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional. The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Optional. The standard list page token.
        schema:
          type: string
      - name: parent
        in: query
        description: 'Required. The resource name of the Location to list the ReasoningEngines from. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - reasoningEngines
    post:
      description: Creates a reasoning engine.
      operationId: aiplatform.reasoningEngines.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: query
        description: 'Required. The resource name of the Location to create the ReasoningEngine in. Format: `projects/{project}/locations/{location}`'
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1ReasoningEngine'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - reasoningEngines
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:cancelAsyncQuery:
    post:
      description: Cancels an AsyncQueryReasoningEngine operation.
      operationId: aiplatform.projects.locations.reasoningEngines.cancelAsyncQuery
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineResponse'
      parameters:
      - name: name
        in: path
        description: 'Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:executeCode:
    post:
      description: Executes code statelessly.
      operationId: aiplatform.projects.locations.reasoningEngines.executeCode
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ExecuteCodeResponse'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ExecuteCodeRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:asyncQuery:
    post:
      description: Async query using a reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.asyncQuery
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: 'Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1AsyncQueryReasoningEngineRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:streamQuery:
    post:
      description: Streams queries using a reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.runtimeRevisions.streamQuery
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleApiHttpBody'
      parameters:
      - name: name
        in: path
        description: 'Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:query:
    post:
      description: Queries using a reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.runtimeRevisions.query
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1QueryReasoningEngineResponse'
      parameters:
      - name: name
        in: path
        description: 'Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1QueryReasoningEngineRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:pause:
    post:
      description: Pauses the specific SandboxEnvironment.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.pause
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to pause. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1PauseSandboxEnvironmentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}/sandboxEnvironments:
    post:
      description: Creates a SandboxEnvironment in a given reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the reasoning engine to create the SandboxEnvironment in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1SandboxEnvironment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Lists SandboxEnvironments in a given reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListSandboxEnvironmentsResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional. The maximum number of SandboxEnvironments to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironments will be returned.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Optional. The standard list page token, received from a previous `ListSandboxEnvironments` call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:resume:
    post:
      description: Resumes the specific SandboxEnvironment.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.resume
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to resume. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ResumeSandboxEnvironmentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:authorizeAccess:
    post:
      description: Checks whether the caller is authorized to access the sandbox environment. Authorization is performed entirely by the API infrastructure from the `method_policy` below; the handler is a no-op. A successful response means the caller holds `sandboxEnvironments.execute` on the named sandbox. Used by the sandbox data-plane proxy, which forwards the caller's credential and proxies traffic only on success.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.authorizeAccess
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1AuthorizeSandboxEnvironmentAccessResponse'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to authorize access to. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1AuthorizeSandboxEnvironmentAccessRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:execute:
    post:
      description: Executes using a sandbox environment.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.execute
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ExecuteSandboxEnvironmentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}:snapshot:
    post:
      description: Snapshots the specific SandboxEnvironment resource and creates a SandboxEnvironmentSnapshot resource.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironments.snapshot
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: name
        in: path
        description: 'Required. The resource name of the sandbox environment to snapshot. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1SandboxEnvironmentSnapshot'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}/sandboxEnvironmentSnapshots:
    get:
      description: Lists SandboxEnvironmentSnapshots in a given reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironmentSnapshots.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListSandboxEnvironmentSnapshotsResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional. The maximum number of SandboxEnvironmentSnapshots to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentSnapshots will be returned. Values above 100 will be coerced to 100.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Optional. The standard list page token, received from a previous `ListSandboxEnvironmentSnapshots` call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}/sandboxEnvironmentTemplates:
    post:
      description: Creates a SandboxEnvironmentTemplate in a given reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironmentTemplates.create
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the reasoning engine to create the SandboxEnvironmentTemplate in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1SandboxEnvironmentTemplate'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Lists SandboxEnvironmentTemplates in a given reasoning engine.
      operationId: aiplatform.projects.locations.reasoningEngines.sandboxEnvironmentTemplates.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListSandboxEnvironmentTemplatesResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the reasoning engine to list sandbox environment templates from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`'
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).
        schema:
          type: string
      - name: pageSize
        in: query
        description: Optional. The maximum number of SandboxEnvironmentTemplates to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentTemplates will be returned.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: Optional. The standard list page token, received from a previous `ListSandboxEnvironmentTemplates` call. Provide this to retrieve the subsequent page.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/operations:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: aiplatform.operations.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
      parameters:
      - name: filter
        in: query
        description: The standard list filter.
        schema:
          type: string
      - name: name
        in: query
        description: The name of the operation's parent resource.
        schema:
          type: string
      - name: pageSize
        in: query
        description: The standard list page size.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: The standard list page token.
        schema:
          type: string
      - name: returnPartialSuccess
        in: query
        description: When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `"projects/example/locations/-"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.
        schema:
          type: boolean
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:generateInstanceRubrics:
    post:
      description: Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.
      operationId: aiplatform.projects.locations.generateInstanceRubrics
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateInstanceRubricsResponse'
      parameters:
      - name: location
        in: path
        description: 'Required. The resource name of the Location to generate rubrics from. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1GenerateInstanceRubricsRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:evaluateDataset:
    post:
      description: Evaluates a dataset based on a set of given metrics.
      operationId: aiplatform.projects.locations.evaluateDataset
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: location
        in: path
        description: 'Required. The resource name of the Location to evaluate the dataset. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1EvaluateDatasetRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}:retrieveContexts:
    post:
      description: Retrieves relevant contexts for a query.
      operationId: aiplatform.projects.locations.retrieveContexts
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1RetrieveContextsResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1RetrieveContextsRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{destination}:deploy:
    post:
      description: Deploys a model to a new endpoint.
      operationId: aiplatform.projects.locations.deploy
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: destination
        in: path
        description: 'Required. The resource name of the Location to deploy the model in. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1DeployRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}:augmentPrompt:
    post:
      description: Given an input prompt, it returns augmented prompt from vertex rag store to guide LLM towards generating grounded responses.
      operationId: aiplatform.projects.locations.augmentPrompt
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1AugmentPromptResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Location from which to augment prompt. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1AugmentPromptRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:generateSyntheticData:
    post:
      description: Generates synthetic (artificial) data based on a description
      operationId: aiplatform.projects.locations.generateSyntheticData
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateSyntheticDataResponse'
      parameters:
      - name: location
        in: path
        description: Required. The geographic location where the synthetic data generation request is processed. This should be in the format `projects/{project}/locations/{location}`. For example, `projects/my-project/locations/us-central1`.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateSyntheticDataRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{name}/locations:
    get:
      description: 'Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.'
      operationId: aiplatform.projects.locations.list
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudLocationListLocationsResponse'
      parameters:
      - name: name
        in: path
        description: The resource that owns the locations collection, if applicable.
        required: true
        schema:
          type: string
      - name: extraLocationTypes
        in: query
        description: Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: filter
        in: query
        description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
        schema:
          type: string
      - name: pageSize
        in: query
        description: The maximum number of results to return. If not set, the service selects a default.
        schema:
          type: integer
      - name: pageToken
        in: query
        description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
        schema:
          type: string
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:evaluateInstances:
    post:
      description: Evaluates instances based on a given metric.
      operationId: aiplatform.projects.locations.evaluateInstances
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1EvaluateInstancesResponse'
      parameters:
      - name: location
        in: path
        description: 'Required. The resource name of the Location to evaluate the instances. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/GoogleCloudAiplatformV1EvaluateInstancesRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}:corroborateContent:
    post:
      description: Given an input text, it returns a score that evaluates the factuality of the text. It also extracts and returns claims from the text and provides supporting facts.
      operationId: aiplatform.projects.locations.corroborateContent
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1CorroborateContentResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Location from which to corroborate text. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1CorroborateContentRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:generateLossClusters:
    post:
      description: Generates loss clusters from evaluation results. This is a statelss API method that would not modify the EvaluationSet resource.
      operationId: aiplatform.projects.locations.generateLossClusters
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: location
        in: path
        description: 'Required. The resource name of the Location. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateLossClustersRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}:asyncRetrieveContexts:
    post:
      description: Asynchronous API to retrieves relevant contexts for a query.
      operationId: aiplatform.projects.locations.asyncRetrieveContexts
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1AsyncRetrieveContextsRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{parent}:askContexts:
    post:
      description: Agentic Retrieval Ask API for RAG.
      operationId: aiplatform.projects.locations.askContexts
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1AskContextsResponse'
      parameters:
      - name: parent
        in: path
        description: 'Required. The resource name of the Location from which to retrieve RagContexts. The users must have permission to make a call in the project. Format: `projects/{project}/locations/{location}`.'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1AskContextsRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/key'
  /v1/{location}:generateUserScenarios:
    post:
      description: Generates user scenarios for agent evaluation.
      operationId: aiplatform.projects.locations.generateUserScenarios
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateUserScenariosResponse'
      parameters:
      - name: location
        in: path
        description: 'Required. The resource name of the Location to run the job. Format: `projects/{project}/locations/{location}`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateUserScenariosRequest'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/aiplatform
        Oauth2c:
        - https://www.googleapis.com/auth/aiplatform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/fields'
[...]
