openapi: 3.0.1
info:
  title: Events Events
  description: Basepom for all HubSpot Projects
  version: 2026-03
  x-hubspot-product-tier-requirements:
    marketing: ENTERPRISE
    sales: ENTERPRISE
    service: ENTERPRISE
    cms: ENTERPRISE
    commerce: ENTERPRISE
    crmHub: ENTERPRISE
    dataHub: ENTERPRISE
  x-origin:
    - format: openapi
      url: https://api.hubspot.com/public/api/spec/v2/specs/release/75357/version/2026-03
      version: '3.0'
  x-conversion:
    - Fetched from HubSpot's public API spec catalog (https://api.hubspot.com/public/api/spec/v1/specs), product 'Events', group 'Events', stable version 2026-03.
servers:
  - url: https://api.hubapi.com
tags:
  - name: Basic
paths:
  /events/event-occurrences/2026-03:
    get:
      tags:
        - Basic
      summary: Retrieve events
      description: Retrieve event occurrences for a specified date in September 2026. This endpoint allows you to filter and sort events based on various criteria, such as event type, object type, and occurrence dates. It supports pagination and can return specific properties of events if requested.
      operationId: get-/events/event-occurrences/2026-03_/events/event-occurrences/2026-03
      parameters:
        - name: after
          in: query
          description: The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: before
          in: query
          description: A cursor token for pagination. Use the value from the previous response's paging.prev.before field.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: eventType
          in: query
          description: The type of events to retrieve.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: id
          in: query
          description: An array of event IDs to retrieve.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: The maximum number of results to display per page.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
        - name: objectId
          in: query
          description: The unique identifier of the object associated with the events.
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int64
        - name: objectProperty.{propname}
          in: query
          description: Filter events based on specific object properties.
          required: false
          style: form
          explode: true
          schema:
            type: object
        - name: objectType
          in: query
          description: The type of object associated with the events.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: occurredAfter
          in: query
          description: Filter events that occurred after this date-time.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: occurredBefore
          in: query
          description: Filter events that occurred before this date-time.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: properties
          in: query
          description: An array of property names to include in the response.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: property.{propname}
          in: query
          description: Filter events based on specific event properties.
          required: false
          style: form
          explode: true
          schema:
            type: object
        - name: sort
          in: query
          description: An array of fields to sort the results by.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponseExternalUnifiedEvent'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security: []
  /events/event-occurrences/2026-03/event-types:
    get:
      tags:
        - Basic
      summary: Retrieve event types
      description: 'Retrieve a list of event type names. You may use these event types to query the API for event occurrences of a desired type.


        Note: the `get_types` method is only supported in the Python SDK version `12.0.0-beta.1` or later. '
      operationId: get-/events/event-occurrences/2026-03/event-types_/events/event-occurrences/2026-03/event-types
      parameters: []
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibleExternalEventTypeNames'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security: []
components:
  schemas:
    CollectionResponseExternalUnifiedEvent:
      required:
        - results
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        results:
          type: array
          description: An array of ExternalUnifiedEvent objects, each representing an individual event with its associated details.
          items:
            $ref: '#/components/schemas/ExternalUnifiedEvent'
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    ExternalUnifiedEvent:
      required:
        - eventType
        - id
        - objectId
        - objectType
        - occurredAt
        - properties
      type: object
      properties:
        eventType:
          type: string
          description: The format of the `eventType` string is `ae{appId}_{eventTypeLabel}`, `pe{portalId}_{eventTypeLabel}`, or just `e_{eventTypeLabel}` for HubSpot events.
        id:
          type: string
          description: A unique identifier for the event.
        objectId:
          type: string
          description: The objectId of the object which did the event.
        objectType:
          type: string
          description: The objectType for the object which did the event.
        occurredAt:
          type: string
          description: An ISO 8601 timestamp when the event occurred.
          format: date-time
        properties:
          type: object
          additionalProperties:
            type: string
          description: A key-value map of event-specific properties. The available properties depend on the event type definition.
    NextPage:
      required:
        - after
      type: object
      properties:
        after:
          type: string
          description: The cursor token to pass as the after query parameter to retrieve the next page of results.
        link:
          type: string
          description: The full URL of the next page of results, with the after cursor token included as a query parameter.
      description: Specifies the paging information needed to retrieve the next set of results in a paginated API response
    Paging:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/NextPage'
        prev:
          $ref: '#/components/schemas/PreviousPage'
      description: Represents the pagination information for navigating through a list of results in the API. It provides details on how to access the previous or next set of results.
    PreviousPage:
      required:
        - before
      type: object
      properties:
        before:
          type: string
          description: The cursor token to pass as the before query parameter to retrieve the previous page of results.
        link:
          type: string
          description: The full URL of the previous page of results, with the before cursor token included as a query parameter.
      description: specifies the paging information needed to retrieve the previous set of results in a paginated API response
    VisibleExternalEventTypeNames:
      required:
        - eventTypes
      type: object
      properties:
        eventTypes:
          type: array
          description: List of event type names.
          items:
            type: string
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes: {}
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
  - Node
  - Python
  - Ruby
  - PHP
x-hubspot-product-tier-requirements:
  marketing: ENTERPRISE
  sales: ENTERPRISE
  service: ENTERPRISE
  cms: ENTERPRISE
  commerce: ENTERPRISE
  crmHub: ENTERPRISE
  dataHub: ENTERPRISE
