openapi: 3.0.1
info:
  title: Business Units
  description: Basepom for all HubSpot Projects
  version: 2026-03
  x-hubspot-product-tier-requirements:
    marketing: ENTERPRISE
    sales: FREE
    service: FREE
    cms: ENTERPRISE
    commerce: FREE
    crmHub: FREE
    dataHub: FREE
  x-hubspot-api-use-case: You have a third-party service to manage organizational data for your business, and you need to confirm the business unit that a specific HubSpot user is in.
  x-hubspot-introduction: Use the business units API to retrieve information about the business unit associated with a user in your HubSpot account.
  x-origin:
    - format: openapi
      url: https://api.hubspot.com/public/api/spec/v2/specs/release/75363/version/2026-03
      version: '3.0'
  x-conversion:
    - Fetched from HubSpot's public API spec catalog (https://api.hubspot.com/public/api/spec/v1/specs), product 'Business Units', group 'Business Units', stable version 2026-03.
servers:
  - url: https://api.hubapi.com
tags:
  - name: Basic
paths:
  /business-units/public/2026-03/business-units/user/{userId}:
    get:
      tags:
        - Basic
      summary: Retrieve brands by associated user
      description: Retrieve the brands that a specific user can access.
      operationId: get-/business-units/public/2026-03/business-units/user/{userId}_getByUserID
      parameters:
        - name: userId
          in: path
          description: The unique identifier of the user whose associated business units are to be retrieved.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: name
          in: query
          description: A list of business unit names to filter the response by. Only business units with matching names will be included in the results.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: properties
          in: query
          description: A list of specific properties to include in the response. This allows for filtering the business unit details returned.
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging'
        default:
          description: ''
          $ref: '#/components/responses/Error'
      security:
        - oauth2:
            - business_units_view.read
components:
  schemas:
    CollectionResponsePublicBusinessUnitNoPaging:
      required:
        - results
      type: object
      properties:
        results:
          type: array
          description: The collection of Business Units
          items:
            $ref: '#/components/schemas/PublicBusinessUnit'
    Error:
      required:
        - category
        - correlationId
        - message
      type: object
      properties:
        category:
          type: string
          description: The error category
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}'
        correlationId:
          type: string
          description: A unique identifier for the request. Include this value with any error reports or support tickets
          format: uuid
          example: aeb5f871-7f07-4993-9211-075dc63e7cbf
        errors:
          type: array
          description: further information about the error
          items:
            $ref: '#/components/schemas/ErrorDetail'
        links:
          type: object
          additionalProperties:
            type: string
          description: A map of link names to associated URIs containing documentation about the error or recommended remediation steps
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
          example: An error occurred
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.
      example:
        message: Invalid input (details will vary based on the error)
        correlationId: aeb5f871-7f07-4993-9211-075dc63e7cbf
        category: VALIDATION_ERROR
        links:
          knowledge-base: https://www.hubspot.com/products/service/knowledge-base
    ErrorDetail:
      required:
        - message
      type: object
      properties:
        code:
          type: string
          description: The status code associated with the error detail
        context:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Context about the error condition
          example: '{missingScopes=[scope1, scope2]}'
        in:
          type: string
          description: The name of the field or parameter in which the error was found.
        message:
          type: string
          description: A human readable message describing the error along with remediation steps where appropriate
        subCategory:
          type: string
          description: A specific category that contains more specific detail about the error
      description: Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.
    PublicBusinessUnit:
      required:
        - id
        - name
      type: object
      properties:
        id:
          type: string
          description: The Business Unit's unique ID
        logoMetadata:
          $ref: '#/components/schemas/PublicBusinessUnitLogoMetadata'
        name:
          type: string
          description: The Business Unit's name
    PublicBusinessUnitLogoMetadata:
      type: object
      properties:
        logoAltText:
          type: string
          description: The logo's alt text
        logoUrl:
          type: string
          description: The logo's url
        resizedUrl:
          type: string
          description: The logo's resized url
  responses:
    Error:
      description: An error occurred.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    developer_hapikey:
      type: apiKey
      name: hapikey
      in: query
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubapi.com/oauth/v1/token
          scopes:
            business_units_view.read: ''
    private_apps:
      type: apiKey
      name: private-app
      in: header
    private_apps_legacy:
      type: apiKey
      name: private-app-legacy
      in: header
x-hubspot-available-client-libraries:
  - Node
  - Python
  - Ruby
  - PHP
x-hubspot-product-tier-requirements:
  marketing: ENTERPRISE
  sales: FREE
  service: FREE
  cms: ENTERPRISE
  commerce: FREE
  crmHub: FREE
  dataHub: FREE
